body {
    padding-top: 50px;
}

.principal {
    padding: 40px 15px;
    text-align: center;
}
.alinhar {

    display: inline-block;
    width: 90px;
}
.titulo{
	color: red;
}
.titulo1{
	color: crimson;
}
.titulo2{
	color: darkorange;
}
.botao{
	float: right;
}
.radios{
	background: none;
}
button:hover{
	
 color: red;
 background-color: yellow;
} 
.tela{
	width:500px;
	height:100px;
	
	position:absolute;
	z-index:100;
	top:30%;
	left:400;
}

